.contents-wrapper{
    margin: 0 auto;
    width: 80vw;
    height: 50vw;
    display: grid;
    grid-template-columns: 35vw 35vw;
    color: white;
    gap: 5vw;
}

.event{
    width: 35vw;
    margin-left: 2.5vw;
    background-color: #504841;
}

.event-img{
    padding-top: 80px;
    height: 500px;
}
.event-img img{
    width: 100%;
    height: 100%;
}