.footer{
    margin: 0 auto;
    width: 80vw;
    background-color: #504841;
    margin-top: 20px;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.melbourne-zoo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    width: 80%;
}
.list ul li{
    list-style-type: none;
    font-size: 0.9rem;
    color: white;
    line-height: 2vw;
}
.support-header{
    font-size: 1.2rem;
    color: #9ba4b3;
}
.opening-hrs span{
    font-size: 0.9rem;
}

.opening-hrs h2{
    color: #9ba4b3;
}